
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home - Project Demo</title>
</head>
<body>
    <div>
        <h2>Home Page</h2>
        <br/>
        @Html.ActionLink("Departments", "Index", "Department") |
        @Html.ActionLink("Employees", "Index", "Employee")


    </div>
</body>
</html>
