body {
    background-image: url(/images/background.jpg);
    background-repeat:no-repeat;
    
}
.topnav {
    background-color: grey;
    overflow: hidden;
}
.topnav a img {
    float : left;
}
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
