@model DataLayer.Doctor

@{
    ViewBag.Title = "AfterLogin";
    Layout = "~/Views/Shared/_layout_after_login_doctor.cshtml";
}

<table align="left">
    <tr>

        <td style="text-decoration:underline">Info </td>
    </tr>

    <tr>
        <td>
            Name:
        </td>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>

    </tr>
    <tr>
        <td>
            Email:
        </td>
        <td>
            @Html.DisplayFor(model => model.email)
        </td>

    </tr>


</table>

