@model DataLayer.Admin

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@using (Html.BeginForm("AdminLogin", "Admin", FormMethod.Post))
{ 

        <table>
            <tr>
                <td></td>
                <td style="text-decoration:underline"> Login </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.userName)
                </td>
                <td>
                    @Html.EditorFor(model => model.userName)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.password)
                </td>
                <td>
                    @Html.EditorFor(model => model.password)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>

            </tr>
        </table>
}